[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
openai = "*"
emoji = "*"
audiocraft = "*"
halo = "*"
llama-cpp-python = "*"
python-dotenv = "*"
"ruamel.yaml" = "*"
pynput = "*"
diffusers = "*"
accelerate = "*"

[dev-packages]

[requires]
python_version = "3.11"
